*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.ist
*.toc
*.lof
*.lop
*.lot
*.xdy
*-timestamp 
latexmkrc-make 
missfont.log
*.synctex(busy)
*.synctex.gz(busy)
*.ps
*.dvi
*.synctex.gz
*.run.xml